html {
    height: 100%;
    display: table;
    margin: 0 auto;
    padding: 0;
}

body {
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    /* 移除下划线 */
    color: black;
}

h1 {
    margin: 0 0 0 0;
    font-size: 6em;
    letter-spacing: 0.01em;
}

div {
    display: flex;
    margin-top: 10%;
    /* 消除ul左侧空白 */
    /* padding-left: 0; */
    flex-flow: row wrap;
    justify-content: center;
}

div a {
    width: 20%;
    height: 60px;
    font-size: 1.5em;
    align-content: center;
    /* 2024新增特性 */
    /* line-height: 30px; */
    display: inline-block;
    /* 使其表现得像块级元素，但可以在行内显示 */
    transition: all 0.3s ease;
    /* 添加过渡效果 */
    word-wrap: break-word;
    /* 防止长单词不换行 */
}