a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 10% 0 0 0;
    /*     font-size: 6em;
    letter-spacing: 0.1em; */
    text-align: center;
}

ul {
    display: flex;
    padding-left: 0;
    margin-top: 10%;
    /* 消除左侧空白 */
    flex-flow: row wrap;
    justify-content: center;
}

ul a {
    text-decoration: none;
    /* 移除下划线 */
    width: 10%;
    height: 60px;
    align-content: center;
    /* 2024新增特性 */
    text-align: center;
    /* line-height: 30px; */
    /*用新特性优化*/
    display: inline-block;
    /* 使其表现得像块级元素，但可以在行内显示 */
    transition: all 0.3s ease;
    /* 添加过渡效果 */
    word-wrap: break-word;
    /* 防止长单词不换行 */
    color: black;
}