a {
    color: var(--text-color);
    text-decoration: none;
}

/* 搜索框 */
.search {
    background-color: var(--bg-color);
    /* 用于固定在前面 */
    position: sticky;
    top: 54px;
}

/* 小屏幕隐藏搜索框 */
@media (max-width: 1000px) {
    .search {
        display: none;
    }

}

.search-container {
    width: 60%;
    margin: 10vh auto;
    /* 水平居中 */
    position: relative;
    /* 没用sticky时使用，写html中会出问题 */
}

@media (max-width: 1000px) {
    .search-container {
        width: 90%;
        margin: 10vh auto;
        /* 水平居中 */
        position: relative;
        /* 没用sticky时使用，写html中会出问题 */
        /* 对小屏幕设备进行调整，min对大屏幕进行调整 */
    }
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 聚焦时特殊显示
.search-input:focus {
    box-shadow: 0 0 8px rgba(235, 8, 8);
} */

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    background-color: var(--text-color2);
    /* border-radius: 0 5px 5px 0; */
    padding: 0 15px;
    cursor: pointer;
}

#searchInput {
    background-color: var(--bg-color);
    color:var(--text-color2);
    /* 输入框文字颜色可调整 */
}

#searchtype {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 37px;
    /* 用auto更好，宽度和高度一样设置需研究 */
    border: none;
    /* border-radius: 0 5px 5px 0; */
    padding: 0px 0px;
    cursor: pointer;
}

.search-engine {
    color: var(--text-color2);
}

.website-container {
    display: flex;
    flex-wrap: wrap;
    /* 不用换行就是并排显示 */
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .website-container {
        display: block;
    }
}

/* 网站-之前用的ul */
.website {
    width: 100%;
    scroll-margin-top: 100px;
    /* 锚链接跳转避遮挡，高度适当大于遮挡内容高度，要兼容旧浏览器可用空锚点元素 */
    display: flex;
    /* 消除ul左侧空白 */
    /* padding-left: 0; */
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* flex-direction:column; */
    /* 列对齐模式，不常用会变成只有一列 */
    margin-bottom: 10px;
    margin-top: 0;
}

.website a {
    /* width: 22%; */
    /* 想要规整排列可使用，需要配合去除p元素 */
    /* height: 30px; */
    line-height: 30px;
    /* align-content: center; */
    /* 当行高不是固定值时使用 */
    text-align: center;
    display: inline-block;
    /* 使其表现得像块级元素，但可以在行内显示 */
    word-wrap: break-word;
    /* 防止长单词不换行 */
    margin: 3px 3px;
    padding: 0px 3px;
    background: var(--text-bg);
    border-radius: 10px;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
    /* 背景颜色和阴影 */
}

@media (max-width: 1000px) {
    .website a {
        width: 23%;
        margin: 5px 3px;
        padding: 0px 0px;
        /* height: 25px; */
        line-height: 25px;
        /* align-content: center; */
        /* 当行高不是固定值时使用 */
        font-size: 0.9rem;
        background: var(--text-bg);
        border-radius: 5px;
        box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
        /* 对小屏幕设备进行调整，min对大屏幕进行调整 */
    }
}

.website p {
    /* align-content: center; */
    /* 用父容器align-items控制了 */
    text-align: center;
    color: var(--text-color2);
}

@media (max-width: 1000px) {
    .website p {
        display: none;
    }
}

.website a:hover {
    background-color: var(--ahover-color);
    /* 鼠标悬停时的背景色 */
}